################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/.vscode
**/bin
**/log
**/obj
**/Properties
*.csproj.user